WebService1/TemperatureServer/WebContent/wsdl/Temperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://metacube.com" xmlns:intf="http://metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="tempConverter">
    <complexType>
     <sequence>
      <element name="Fahrenheit" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="tempConverterResponse">
    <complexType>
     <sequence>
      <element name="tempConverterReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="tempConverterRequest">

      <wsdl:part element="impl:tempConverter" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="tempConverterResponse">

      <wsdl:part element="impl:tempConverterResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Temperature">

      <wsdl:operation name="tempConverter">

         <wsdl:input message="impl:tempConverterRequest" name="tempConverterRequest">

       </wsdl:input>

         <wsdl:output message="impl:tempConverterResponse" name="tempConverterResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureSoapBinding" type="impl:Temperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="tempConverter">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="tempConverterRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="tempConverterResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureService">

      <wsdl:port binding="impl:TemperatureSoapBinding" name="Temperature">

         <wsdlsoap:address location="http://localhost:8080/TemperatureServer/services/Temperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
